.my-filmes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}
.my-filmes ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 700px;
}
.my-filmes li{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.my-filmes h1{
    margin-bottom: 20px;
}
.my-filmes .filme-title{
    font-size: 20px;
}

.my-filmes div{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 12px;
}
.my-filmes div a{
    text-decoration: none;
    color: #116feb;
}
.my-filmes button{
    padding: 10px 14px;
    background-color: var(--red-color);
    border-radius: 10px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    color: white;
    transition: .3s;
}
.my-filmes button:hover{
    background-color: #b70000;
}