.container{
    display: flex;
    width: 100%;
    margin: 50px 0;
    min-height: calc(100vh - 60px);
}
.lista-filmes{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4%;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
}
.lista-filmes a{
    text-decoration: none;
    color: var(--dark-color);
    transition: .3s;
}
.lista-filmes article{
    flex-wrap: nowrap;
    width: 100%;
    max-width: 400px;
    max-height: 700px;
    padding: 15px;
    transition: .3s;
}
.lista-filmes article:hover{
    transform: scale(1.02);
}
.lista-filmes strong{
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    display: block;
}
.lista-filmes img{
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}